.gallery {
  list-style-type: none;
  margin-top: 6%;
}

.chord-name {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 3%;
}

.small-diagram {
  height: 50px;
  width: 50px;
}

.chord-button {
  border: none;
  padding: 12px;
  margin: 2% auto;
  border-radius: 3px;
  background: #FFFDE5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.small-diagram-buttons {
  display: inline-block;
}

.chord-button:hover, 
.chord-button:focus {
  background: #9CFFC2;
}