* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'BioRhyme', serif;
  line-height: 1.5;
  text-align: center;
  background: #FFFDE5;
  color: #123B22;
}

@media screen and (min-width: 40em) {

}

@media screen and (min-width: 100em) {

}

/*
#123B22
#9CFFC2
#4FFF92
#CAEBD6
#0D2B19
*/